flows.json
[{"id":"2fa02f7.a741bd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc758c1b.cab598","type":"tab","label":"Hydro Admin","disabled":false,"info":""},{"id":"90e3c6fa.63597","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"137b86df.516389","type":"tab","label":"Pump","disabled":false,"info":""},{"id":"156c5d1.c0b68a3","type":"tab","label":"Fans","disabled":false,"info":""},{"id":"5b794e.d2e206b4","type":"tab","label":"arduino","disabled":false,"info":""},{"id":"56e35728.3e5ca8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"BowHome Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"23d9ee11.ff7842","type":"ui_tab","z":"","name":"Hydro Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"db5cd562.208c38","type":"ui_group","z":"","name":"Lights","tab":"23d9ee11.ff7842","disp":true,"width":"6","collapse":false},{"id":"cf1ac884.761ba","type":"ui_group","z":"","name":"Pump","tab":"23d9ee11.ff7842","disp":true,"width":"6","collapse":false},{"id":"2eb7f1e7.6cfb96","type":"ui_group","z":"","name":"Fans","tab":"23d9ee11.ff7842","disp":true,"width":"6","collapse":false},{"id":"da8f237.50288e","type":"amqp-server","z":"","host":"rabbitmq.ardubo.com","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"f1827868.506f28","type":"ui_link","z":"","name":"Kibana","link":"http://homeserver.ardubo.com:5601/","icon":"open_in_browser","target":"iframe","order":2},{"id":"c9fed2fa.9d3fc8","type":"ui_link","z":"","name":"Portainer","link":"http://homeserver.ardubo.com:9000/","icon":"open_in_browser","target":"iframe","order":3},{"id":"7e2939df.31fc5","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"30b567f4.7f6d9","type":"inject","z":"90e3c6fa.63597","name":"off","topic":"off","payload":"1","payloadType":"num","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":210,"y":900,"wires":[["1b0aa70c.054021"]]},{"id":"63f163fe.9f8294","type":"inject","z":"90e3c6fa.63597","name":"on","topic":"on","payload":"0","payloadType":"num","repeat":"","crontab":"00 15 * * *","once":false,"onceDelay":0.1,"x":210,"y":940,"wires":[["1b0aa70c.054021"]]},{"id":"385dea0c.be931e","type":"ui_text","z":"90e3c6fa.63597","group":"db5cd562.208c38","order":4,"width":0,"height":0,"name":"","label":"Mid Lights","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":860,"wires":[]},{"id":"5b146358.06ecac","type":"change","z":"90e3c6fa.63597","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":860,"wires":[["385dea0c.be931e"]]},{"id":"53a81dac.388a6c","type":"inject","z":"137b86df.516389","name":"on","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["9fd36ba0.b6449","8f610708.39a8a8"]]},{"id":"447978df.23acc","type":"inject","z":"137b86df.516389","name":"off","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["9fd36ba0.b6449","8f610708.39a8a8"]]},{"id":"893d9341.efc5a","type":"inject","z":"137b86df.516389","name":"timed","topic":"","payload":"0","payloadType":"num","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["f43af74d.275e9"]]},{"id":"f43af74d.275e9","type":"trigger","z":"137b86df.516389","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":310,"y":220,"wires":[["9fd36ba0.b6449","8f610708.39a8a8"]]},{"id":"2e3c9ad2.1e0b2e","type":"ui_text","z":"137b86df.516389","group":"cf1ac884.761ba","order":1,"width":0,"height":0,"name":"","label":"Pump","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":120,"wires":[]},{"id":"9fd36ba0.b6449","type":"change","z":"137b86df.516389","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":120,"wires":[["2e3c9ad2.1e0b2e"]]},{"id":"192c8a9e.994f55","type":"inject","z":"156c5d1.c0b68a3","name":"on","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["47e707e7.7f56c8","71fa2dc4.b897b4"]]},{"id":"9ab67cbb.9afdc8","type":"inject","z":"156c5d1.c0b68a3","name":"off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["47e707e7.7f56c8","71fa2dc4.b897b4"]]},{"id":"f944781.983bf88","type":"inject","z":"156c5d1.c0b68a3","name":"timed","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"*/4 9-17 * * *","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["177f5f37.aa60e1"]]},{"id":"177f5f37.aa60e1","type":"trigger","z":"156c5d1.c0b68a3","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":310,"y":80,"wires":[["47e707e7.7f56c8","71fa2dc4.b897b4"]]},{"id":"47c3133c.8aafec","type":"ui_text","z":"156c5d1.c0b68a3","group":"2eb7f1e7.6cfb96","order":1,"width":0,"height":0,"name":"","label":"Fans","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":80,"wires":[]},{"id":"47e707e7.7f56c8","type":"change","z":"156c5d1.c0b68a3","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":80,"wires":[["47c3133c.8aafec"]]},{"id":"13708140.0238ff","type":"ui_button","z":"90e3c6fa.63597","name":"","group":"db5cd562.208c38","order":5,"width":"3","height":"1","passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"on","x":210,"y":800,"wires":[["1b0aa70c.054021"]]},{"id":"bf37e0f6.df8ec","type":"ui_button","z":"90e3c6fa.63597","name":"","group":"db5cd562.208c38","order":6,"width":"3","height":"1","passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"off","x":210,"y":840,"wires":[["1b0aa70c.054021"]]},{"id":"7d2b8716.68f2c","type":"ui_button","z":"137b86df.516389","name":"","group":"cf1ac884.761ba","order":2,"width":"3","height":"1","passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":450,"y":260,"wires":[["9fd36ba0.b6449","8f610708.39a8a8"]]},{"id":"3890bbec.15a3f4","type":"ui_button","z":"137b86df.516389","name":"","group":"cf1ac884.761ba","order":3,"width":"3","height":"1","passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":450,"y":300,"wires":[["9fd36ba0.b6449","8f610708.39a8a8"]]},{"id":"403c04dd.084704","type":"ui_button","z":"156c5d1.c0b68a3","name":"","group":"2eb7f1e7.6cfb96","order":2,"width":"3","height":"1","passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":150,"y":260,"wires":[["47e707e7.7f56c8","71fa2dc4.b897b4"]]},{"id":"6d9f2285.7e8494","type":"ui_button","z":"156c5d1.c0b68a3","name":"","group":"2eb7f1e7.6cfb96","order":3,"width":"3","height":"1","passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":150,"y":300,"wires":[["47e707e7.7f56c8","71fa2dc4.b897b4"]]},{"id":"9b2a726b.be7bf8","type":"amqp in","z":"cc758c1b.cab598","name":"","topic":"test","iotype":"4","ioname":"test","server":"da8f237.50288e","x":190,"y":100,"wires":[["e4509f39.f20918"]]},{"id":"efafdf88.737368","type":"amqp out","z":"cc758c1b.cab598","name":"","routingkey":"test","iotype":"4","ioname":"test","server":"da8f237.50288e","x":470,"y":180,"wires":[]},{"id":"e4509f39.f20918","type":"debug","z":"cc758c1b.cab598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":100,"wires":[]},{"id":"136bf1c1.f890fe","type":"inject","z":"cc758c1b.cab598","name":"","topic":"bob","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":180,"wires":[["efafdf88.737368"]]},{"id":"117fddaf.985692","type":"rpi-dht22","z":"cc758c1b.cab598","name":"","topic":"","dht":22,"pintype":"0","pin":"4","x":320,"y":300,"wires":[["deb46e10.9833e8"]]},{"id":"a55b8e62.7391c8","type":"inject","z":"cc758c1b.cab598","name":"","topic":"hydro","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":300,"wires":[["117fddaf.985692"]]},{"id":"deb46e10.9833e8","type":"function","z":"cc758c1b.cab598","name":"Format","func":"d = new Date();\ntempc = msg.payload * 1\ntempf = msg.payload * 1.8 + 32\nhumidity = msg.humidity * 1\n\n\nmsg.payload = \n{\n    \"tempc\":tempc,\n    \"tempf\":tempf,\n    \"humidity\":humidity,\n    \"_id\":Date.now(),\n    \"date\":Date.now()\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["a58b912f.46a03"]]},{"id":"678b4a8a.c7941c","type":"inject","z":"90e3c6fa.63597","name":"","topic":"change","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":1000,"wires":[["1b0aa70c.054021"]]},{"id":"1b0aa70c.054021","type":"function","z":"90e3c6fa.63597","name":"","func":"if (msg.topic == \"off\"){\n    flow.set(\"midlight\",\"1\")\n}\n\nif (msg.topic == \"on\"){\n    flow.set(\"midlight\",\"0\")\n}\n\nif (msg.topic == \"change\"){\n    msg.payload = flow.get(\"midlight\")\n    return msg;\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":430,"y":900,"wires":[["5b146358.06ecac","b0e7dae.a29d028"]]},{"id":"f6ae2095.afc1f8","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"32","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":100,"wires":[]},{"id":"69a6a330.1180c4","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":100,"wires":[["f6ae2095.afc1f8"]]},{"id":"d8983dce.c6ab1","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"33","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":160,"wires":[]},{"id":"18062707.ce53a9","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":160,"wires":[["d8983dce.c6ab1"]]},{"id":"267c50a2.948be","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"34","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":220,"wires":[]},{"id":"8c054e1b.5faca","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":220,"wires":[["267c50a2.948be"]]},{"id":"b4cd069f.407a5","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"35","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":280,"wires":[]},{"id":"7bb91b19.1e6d2c","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":280,"wires":[["b4cd069f.407a5"]]},{"id":"1551daa.66f9d25","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"36","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":340,"wires":[]},{"id":"98f9722f.238fb","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":340,"wires":[["1551daa.66f9d25"]]},{"id":"45433848.b3c1b","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"37","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":400,"wires":[]},{"id":"bee9c5a6.e05f78","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":400,"wires":[["45433848.b3c1b"]]},{"id":"237e3c5f.e0e8cc","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"38","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":460,"wires":[]},{"id":"f2496f1c.75641","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":460,"wires":[["237e3c5f.e0e8cc"]]},{"id":"f9421870.b0cda","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"40","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":580,"wires":[]},{"id":"57e3f830.6cd17","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":580,"wires":[["f9421870.b0cda"]]},{"id":"3e3f73d5.8e91bc","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"41","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":640,"wires":[]},{"id":"ff1f3ea9.45fce","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":640,"wires":[["3e3f73d5.8e91bc"]]},{"id":"b0b61f59.45499","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"42","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":700,"wires":[]},{"id":"cdef99b.b3c82e8","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":700,"wires":[["b0b61f59.45499"]]},{"id":"af9233ce.f21448","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"43","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":760,"wires":[]},{"id":"7fde4135.70ea6","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":760,"wires":[["af9233ce.f21448"]]},{"id":"e8366564.283408","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"44","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":820,"wires":[]},{"id":"23064d45.fc00c2","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":820,"wires":[["e8366564.283408"]]},{"id":"8d1c3868.31435","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"45","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":880,"wires":[]},{"id":"4b90933.924bb6c","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":880,"wires":[["8d1c3868.31435"]]},{"id":"a327f383.5ea218","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"46","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":940,"wires":[]},{"id":"5a1b211.637a8e","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":940,"wires":[["a327f383.5ea218"]]},{"id":"221d5a80.a4e4ae","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"47","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":1000,"wires":[]},{"id":"4567fe85.ccf3c","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":1000,"wires":[["221d5a80.a4e4ae"]]},{"id":"bc34584f.96e7e8","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"39","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":520,"wires":[]},{"id":"355438c2.95168","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":270,"y":520,"wires":[["bc34584f.96e7e8"]]},{"id":"1a90ce3.651f232","type":"arduino out","z":"5b794e.d2e206b4","name":"","pin":"13","state":"OUTPUT","arduino":"7e2939df.31fc5","x":530,"y":1240,"wires":[]},{"id":"8388544f.6dcb9","type":"inject","z":"5b794e.d2e206b4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"2","crontab":"","once":false,"onceDelay":"5","x":150,"y":1240,"wires":[["ec61c8ec.3c9058"]]},{"id":"ec61c8ec.3c9058","type":"trigger","z":"5b794e.d2e206b4","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":360,"y":1240,"wires":[["1a90ce3.651f232"]]},{"id":"8f610708.39a8a8","type":"arduino out","z":"137b86df.516389","name":"","pin":"41","state":"OUTPUT","arduino":"7e2939df.31fc5","x":690,"y":180,"wires":[]},{"id":"b0e7dae.a29d028","type":"arduino out","z":"90e3c6fa.63597","name":"","pin":"38","state":"OUTPUT","arduino":"7e2939df.31fc5","x":790,"y":920,"wires":[]},{"id":"be673f6b.9e93a","type":"inject","z":"90e3c6fa.63597","name":"off","topic":"off","payload":"1","payloadType":"num","repeat":"","crontab":"30 07 * * *","once":false,"onceDelay":0.1,"x":210,"y":1220,"wires":[["70864872.03a4b8"]]},{"id":"55a0953b.73d56c","type":"inject","z":"90e3c6fa.63597","name":"on","topic":"on","payload":"0","payloadType":"num","repeat":"","crontab":"30 15 * * *","once":false,"onceDelay":0.1,"x":210,"y":1260,"wires":[["70864872.03a4b8"]]},{"id":"34feac02.428d84","type":"ui_text","z":"90e3c6fa.63597","group":"db5cd562.208c38","order":4,"width":0,"height":0,"name":"","label":"L1 Lights","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":1180,"wires":[]},{"id":"63bd74e5.ec9d6c","type":"change","z":"90e3c6fa.63597","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1180,"wires":[["34feac02.428d84"]]},{"id":"79e524b8.e88d8c","type":"ui_button","z":"90e3c6fa.63597","name":"","group":"db5cd562.208c38","order":5,"width":"3","height":"1","passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"on","x":210,"y":1120,"wires":[["70864872.03a4b8"]]},{"id":"a1dd20f8.9c80b8","type":"ui_button","z":"90e3c6fa.63597","name":"","group":"db5cd562.208c38","order":6,"width":"3","height":"1","passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"off","x":210,"y":1160,"wires":[["70864872.03a4b8"]]},{"id":"4b7b1886.90c4f","type":"inject","z":"90e3c6fa.63597","name":"","topic":"change","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":1320,"wires":[["70864872.03a4b8"]]},{"id":"70864872.03a4b8","type":"function","z":"90e3c6fa.63597","name":"","func":"if (msg.topic == \"off\"){\n    flow.set(\"l1light\",\"1\")\n}\n\nif (msg.topic == \"on\"){\n    flow.set(\"l1light\",\"0\")\n}\n\nif (msg.topic == \"change\"){\n    msg.payload = flow.get(\"l1light\")\n    return msg;\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":430,"y":1220,"wires":[["63bd74e5.ec9d6c","60e3dac5.fc3334"]]},{"id":"60e3dac5.fc3334","type":"arduino out","z":"90e3c6fa.63597","name":"","pin":"37","state":"OUTPUT","arduino":"7e2939df.31fc5","x":790,"y":1240,"wires":[]},{"id":"a937fcae.5b3718","type":"inject","z":"90e3c6fa.63597","name":"off","topic":"off","payload":"1","payloadType":"num","repeat":"","crontab":"30 06 * * *","once":false,"onceDelay":0.1,"x":210,"y":520,"wires":[["c1987905.70775"]]},{"id":"f871dec8.385b4","type":"inject","z":"90e3c6fa.63597","name":"on","topic":"on","payload":"0","payloadType":"num","repeat":"","crontab":"30 14 * * *","once":false,"onceDelay":0.1,"x":210,"y":560,"wires":[["c1987905.70775"]]},{"id":"2a381ffa.01a91","type":"ui_text","z":"90e3c6fa.63597","group":"db5cd562.208c38","order":4,"width":0,"height":0,"name":"","label":"R1 Lights","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":480,"wires":[]},{"id":"8f075bfa.924e4","type":"change","z":"90e3c6fa.63597","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":480,"wires":[["2a381ffa.01a91"]]},{"id":"72294d9f.70be0c","type":"ui_button","z":"90e3c6fa.63597","name":"","group":"db5cd562.208c38","order":5,"width":"3","height":"1","passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"on","x":210,"y":420,"wires":[["c1987905.70775"]]},{"id":"e8e5c827.e8754","type":"ui_button","z":"90e3c6fa.63597","name":"","group":"db5cd562.208c38","order":6,"width":"3","height":"1","passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"off","x":210,"y":460,"wires":[["c1987905.70775"]]},{"id":"6debc94d.b585d","type":"inject","z":"90e3c6fa.63597","name":"","topic":"change","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":620,"wires":[["c1987905.70775"]]},{"id":"c1987905.70775","type":"function","z":"90e3c6fa.63597","name":"","func":"if (msg.topic == \"off\"){\n    flow.set(\"r1light\",\"1\")\n}\n\nif (msg.topic == \"on\"){\n    flow.set(\"r1light\",\"0\")\n}\n\nif (msg.topic == \"change\"){\n    msg.payload = flow.get(\"r1light\")\n    return msg;\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":430,"y":520,"wires":[["8f075bfa.924e4","f8bffe5b.638248"]]},{"id":"f8bffe5b.638248","type":"arduino out","z":"90e3c6fa.63597","name":"","pin":"36","state":"OUTPUT","arduino":"7e2939df.31fc5","x":790,"y":540,"wires":[]},{"id":"b9bd2009.6002c8","type":"inject","z":"90e3c6fa.63597","name":"off","topic":"off","payload":"1","payloadType":"num","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":210,"y":220,"wires":[["8e707d9b.0c2d28"]]},{"id":"e222983f.1ae7e8","type":"inject","z":"90e3c6fa.63597","name":"on","topic":"on","payload":"0","payloadType":"num","repeat":"","crontab":"00 14 * * *","once":false,"onceDelay":0.1,"x":210,"y":260,"wires":[["8e707d9b.0c2d28"]]},{"id":"26f131f2.63191e","type":"ui_text","z":"90e3c6fa.63597","group":"db5cd562.208c38","order":4,"width":0,"height":0,"name":"","label":"R2 Lights","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":180,"wires":[]},{"id":"e228d350.de8638","type":"change","z":"90e3c6fa.63597","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[["26f131f2.63191e"]]},{"id":"89bc6d1f.a0cb6","type":"ui_button","z":"90e3c6fa.63597","name":"","group":"db5cd562.208c38","order":5,"width":"3","height":"1","passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"on","x":210,"y":120,"wires":[["8e707d9b.0c2d28"]]},{"id":"f12f6128.1d491","type":"ui_button","z":"90e3c6fa.63597","name":"","group":"db5cd562.208c38","order":6,"width":"3","height":"1","passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"off","x":210,"y":160,"wires":[["8e707d9b.0c2d28"]]},{"id":"15172e0b.3dc6c2","type":"inject","z":"90e3c6fa.63597","name":"","topic":"change","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":320,"wires":[["8e707d9b.0c2d28"]]},{"id":"8e707d9b.0c2d28","type":"function","z":"90e3c6fa.63597","name":"","func":"if (msg.topic == \"off\"){\n    flow.set(\"r2light\",\"1\")\n}\n\nif (msg.topic == \"on\"){\n    flow.set(\"r2light\",\"0\")\n}\n\nif (msg.topic == \"change\"){\n    msg.payload = flow.get(\"r2light\")\n    return msg;\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["e228d350.de8638","7d5cf128.e7079"]]},{"id":"7d5cf128.e7079","type":"arduino out","z":"90e3c6fa.63597","name":"","pin":"39","state":"OUTPUT","arduino":"7e2939df.31fc5","x":790,"y":240,"wires":[]},{"id":"40913208.18e13c","type":"inject","z":"90e3c6fa.63597","name":"off","topic":"off","payload":"1","payloadType":"num","repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"x":210,"y":1520,"wires":[["8dd0f000.6dffd"]]},{"id":"57bdc24f.000e94","type":"inject","z":"90e3c6fa.63597","name":"on","topic":"on","payload":"0","payloadType":"num","repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":0.1,"x":210,"y":1560,"wires":[["8dd0f000.6dffd"]]},{"id":"102124ad.912bd3","type":"ui_text","z":"90e3c6fa.63597","group":"db5cd562.208c38","order":4,"width":0,"height":0,"name":"","label":"L2 Lights","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":1480,"wires":[]},{"id":"6534d3ff.c075c4","type":"change","z":"90e3c6fa.63597","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1480,"wires":[["102124ad.912bd3"]]},{"id":"b690882b.7b9808","type":"ui_button","z":"90e3c6fa.63597","name":"","group":"db5cd562.208c38","order":5,"width":"3","height":"1","passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"on","x":210,"y":1420,"wires":[["8dd0f000.6dffd"]]},{"id":"47398dd3.e17f9c","type":"ui_button","z":"90e3c6fa.63597","name":"","group":"db5cd562.208c38","order":6,"width":"3","height":"1","passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"off","x":210,"y":1460,"wires":[["8dd0f000.6dffd"]]},{"id":"3f17003e.c01fa8","type":"inject","z":"90e3c6fa.63597","name":"","topic":"change","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":1620,"wires":[["8dd0f000.6dffd"]]},{"id":"8dd0f000.6dffd","type":"function","z":"90e3c6fa.63597","name":"","func":"if (msg.topic == \"off\"){\n    flow.set(\"l2light\",\"1\")\n}\n\nif (msg.topic == \"on\"){\n    flow.set(\"l2light\",\"0\")\n}\n\nif (msg.topic == \"change\"){\n    msg.payload = flow.get(\"l2light\")\n    return msg;\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":430,"y":1520,"wires":[["6534d3ff.c075c4","75275fff.017848"]]},{"id":"75275fff.017848","type":"arduino out","z":"90e3c6fa.63597","name":"","pin":"34","state":"OUTPUT","arduino":"7e2939df.31fc5","x":790,"y":1540,"wires":[]},{"id":"71fa2dc4.b897b4","type":"arduino out","z":"156c5d1.c0b68a3","name":"","pin":"40","state":"OUTPUT","arduino":"7e2939df.31fc5","x":710,"y":180,"wires":[]},{"id":"a58b912f.46a03","type":"amqp out","z":"cc758c1b.cab598","name":"","routingkey":"hydro","iotype":"4","ioname":"hydro","server":"da8f237.50288e","x":710,"y":300,"wires":[]}]